@charset "UTF-8";
:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --main-font-color: #212121;
  --description-font-color: #757575;
  --footer-bg-color: #2f303a;
  --team-bg-color: #f5f4fa;
  --tr-dur: 250ms;
  --tr-t-fun: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

body {
  font-family: var(--main-font);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.suptitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
}

.current {
  color: var(--accent-color);
}

.active::after {
  position: absolute;
  top: 46px;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--accent-color);
}

.modal-form-head {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-field {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.modal-form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
  color: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-top: 6px;
  margin-bottom: 10px;
}

.modal-form-message::placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form-field-policy {
  margin: 0 auto 30px 13px;
  vertical-align: middle;
  /* margin-bottom: 30px; */
}

.form-label-policy {
  font-size: 14px;
  line-height: 1.71;
}

/* .checkbox прячем  */
.form-icon-policy {
  /* display: inline-block; */
  margin-right: 7px;
  width: 16px;
  height: 15px;
  /* margin: auto 0; */
  /* border: 1px solid rgba(33, 33, 33, 0.2); */
  border: 2px solid var(--main-font-color);
  box-sizing: border-box;
  border-radius: 2px;
  /* padding: 12px;  */
  fill: transparent;
  transition-property: background-color, fill, border, outline;
  transition-duration: var(--tr-dur);
  transition-timing-function: var(--tr-t-fun);
}

/* .checkbox {
    position: relative;  
} */
.policy-icon {
  display: inline-block;
}

.label-policy {
  cursor: pointer;
  display: flex;
  align-items: center;
  /* margin-left: 54px; */
}

.checkbox:checked + .form-icon-policy {
  /* border-color: transparent; */
  /* var(--primary-white-color); */
  fill: #ffffff;
  background-color: var(--accent-color);
  background-image: url("../img/decor/icons.svg#icon-check");
  background-size: contain;
  background-origin: border-box;
  border: none;
}

.checkbox:focus + .form-icon-policy {
  outline: 1px solid var(--accent-color);
  background-size: contain;
  background-origin: border-box;
}

.checkbox:checked:focus + .form-icon-policy {
  outline: 1px solid var(--main-font-color);
  background-size: contain;
  background-origin: border-box;
  border: none;
}

.policy-link {
  color: var(--accent-color);
  transition-property: color, border;
  transition-duration: var(--tr-dur);
  transition-timing-function: var(--tr-t-fun);
}

.policy-link:hover, .policy-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  outline: none;
}

.modal-form-btn {
  align-self: center;
  border: none;
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  padding: 10px;
}

.logo__web {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  /* анимация для лого в хедере */
  margin-right: 94px;
  animation-duration: 1000ms;
  animation-iteration-count: 3;
}

.logo__studio {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__studio_theme-light {
  color: var(--main-font-color);
}

.logo__studio_theme-dark {
  color: #ffffff;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  padding: 15px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-font-color);
  transition: color var(--tr-dur) var(--tr-t-fun);
}

.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  align-items: center;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__mail, .contacts__tel {
  padding: 15px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--description-font-color);
  display: flex;
  align-items: center;
  transition: color var(--tr-dur) var(--tr-t-fun);
}

.contacts__mail:hover, .contacts__mail:focus, .contacts__tel:hover, .contacts__tel:focus {
  color: var(--accent-color);
}

.contacts__icon {
  display: inline-block;
  margin-right: 10px;
  fill: currentColor;
}

.modal-btn {
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
  border: 0px;
  border-radius: 4px;
  padding: 0 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.header {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ececec;
  height: 80px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/decor/img-hero.png");
  max-width: 1600px;
  max-height: 600px;
  margin: 0 auto;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  box-sizing: content-box;
  max-width: 696px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.advantages__container {
  display: flex;
  align-items: center;
}

.advantages__list {
  display: flex;
  align-items: center;
}

.advantages__item {
  width: 270px;
}

.advantages__item:not(:last-child) {
  margin-right: 30px;
}

.advantages__block {
  display: flex;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.advantages__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-font-color);
  margin-bottom: 10px;
}

.advantages__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--description-font-color);
}

.make {
  padding-top: 0px;
}

.make-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.make-title {
  margin-bottom: 50px;
}

.make-img {
  display: flex;
}

.make-img-list-item:not(:last-child) {
  margin-right: 30px;
}

.make-img-list-item-wrapper {
  position: relative;
}

.make-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 70px;
  color: #ffffff;
  padding: 10px;
  background-color: rgba(47, 48, 58, 0.8);
  overflow: auto;
  transform: translateY(-100%);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  background-color: var(--team-bg-color);
}

.team-title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  border: 0px;
}

.team-list-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
}

.team-list-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--description-font-color);
}

.social-list {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: background-color var(--tr-dur) var(--tr-t-fun);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill var(--tr-dur) var(--tr-t-fun);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #ffffff;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  margin-bottom: 50px;
}

.clients-img {
  display: flex;
}

.client-img-list-item:not(:last-child) {
  margin-right: 30px;
}

.client-img-list-item-block {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition: border var(--tr-dur) var(--tr-t-fun);
}

.client-img-list-item-block:hover, .client-img-list-item-block:focus {
  border: 1px solid var(--accent-color);
}

.client-img-list-item-icon {
  transition: fill var(--tr-dur) var(--tr-t-fun);
}

.client-img-list-item-block:hover .client-img-list-item-icon,
.client-img-list-item-block:focus .client-img-list-item-icon {
  fill: var(--accent-color);
}

.portfolio-container {
  display: flex;
  flex-direction: column;
}

.hero-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.hero-list-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading-font-color);
  background-color: #f5f4fa;
  cursor: pointer;
  border: 0px;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color var(--tr-dur) var(--tr-t-fun), background-color var(--tr-dur) var(--tr-t-fun), box-shadow var(--tr-dur) var(--tr-t-fun);
}

.filter-btn:hover, .filter-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-list-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.portfolio-list-item:hover, .portfolio-list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.pf-card {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 10px;
}

.portfolio-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-font-color);
  margin-bottom: 4px;
}

.portfolio-list-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--description-font-color);
}

.portfolio-list-item-img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  padding-top: 0px;
  padding-right: 24px;
  padding-bottom: 0px;
  padding-left: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--tr-dur) var(--tr-t-fun);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.portfolio-list-item-link:hover .portfolio-overlay,
.portfolio-list-item-link:focus .portfolio-overlay {
  transform: translateY(0%);
}

.footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-firstblock {
  margin-right: 70px;
}

.footer-social-list {
  display: flex;
  justify-content: left;
}

.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff1a;
  border-radius: 50%;
  transition: background-color var(--tr-dur) var(--tr-t-fun);
}

.footer-social-list-link:hover, .footer-social-list-link:focus {
  background-color: var(--accent-color);
}

.footer-social-list-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.address {
  margin-top: 20px;
}

.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list-item-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-list-item-mail,
.address-list-item-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff99;
}

.form-footer {
  margin-left: 93px;
}

.form-footer-thumb {
  display: flex;
}

.form-footer-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 0px 16px;
  background: #2f303a;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer-input::placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form-footer-button {
  margin-left: 12px;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-footer-icon {
  margin-left: 10px;
  align-items: center;
}
/*# sourceMappingURL=main.css.map */