.footer {
  background-color: #2f303a;

  .footer__container {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;

    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      text-align: left;
    }
  }

  .footer__tablet-thumb {
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-around;
      align-items: baseline;
    }

    @media screen and (min-width: 1200px) {
      justify-content: space-between;
      margin-bottom: 0;
    }
  }

  .footer__address-thumb {
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 93px;
    }
  }

  .footer__logo {
    margin-bottom: 20px;
    color: #ffffff;
  }

  .footer__address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
  }

  .footer__item {
    &:not(:last-child) {
      margin-bottom: 8px;
      @media screen and (min-width: 1200px) {
        margin-bottom: 9px;
      }
    }
  }

  .footer__link {
    color: rgba(255, 255, 255, 0.6);

    transition-property: color;
    transition-duration: $duration;
    transition-timing-function: $timing-function;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  .footer__link--primary {
    display: block;
    margin-bottom: 8px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    }

    color: #ffffff;
  }

  .footer__social-thumb {
    margin-top: 0px;
  }

  .footer__subtitle {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: #ffffff;
  }

  .footer__form-thumb {
    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: flex-end;
    }
  }

  .footer__form-field {
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
    }
  }

  .footer__form-input {
    display: block;
    align-items: center;
    margin: 0;
    padding: 15px 16px;
    background-color: inherit;
    width: 100%;

    @media screen and (min-width: 768px) {
      width: 450px;
      margin: 0 auto;
    }
    @media screen and (min-width: 1200px) {
      width: 358px;
    }

    font-size: 16px;
    line-height: 1.25;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    color: #ffffff;
    border-radius: 4px;

    transition-property: border;
    transition-duration: $duration;
    transition-timing-function: $timing-function;

    &:focus {
      border: 1px solid $accent-color;
      outline: none;
    }
  }

  .footer__form-button--primery {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;

    @media screen and (min-width: 1200px) {
      margin-left: 12px;
      margin-right: 0;
    }
    padding: 10px 28px 10px 29px;
  }

  .footer__form-icon {
    margin-left: 10px;
    fill: #ffffff;
  }
}
