.footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-firstblock {
  margin-right: 70px;
}
.footer-social-list {
  display: flex;
  justify-content: left;
}

.footer-social-list-item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-list-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff1a;
  border-radius: 50%;
  transition: background-color var(--tr-dur) var(--tr-t-fun);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-social-list-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.address {
  margin-top: 20px;
}

.address-list-item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address-list-item-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.address-list-item-mail,
.address-list-item-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff99;
}
.form-footer {
  margin-left: 93px;
}
.form-footer-thumb {
  display: flex;
}

.form-footer-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 0px 16px;
  background: #2f303a;
  color: rgba(255, 255, 255, 0.6);

  &::placeholder {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

.form-footer-button {
  margin-left: 12px;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-footer-icon {
  margin-left: 10px;
  align-items: center;
}
