.contacts {
  display: flex;
  align-items: center;

  &__item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__mail,
  &__tel {
    padding: 15px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--description-font-color);
    display: flex;
    align-items: center;
    transition: color var(--tr-dur) var(--tr-t-fun);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__icon {
    display: inline-block;
    margin-right: 10px;
    fill: currentColor;
  }
}
