$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;

$primary-font: Roboto, sans-serif;
$logo-font: Raleway, sans-serif;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;
