:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --main-font-color: #212121;
  --description-font-color: #757575;
  --footer-bg-color: #2f303a;
  --team-bg-color: #f5f4fa;
  --tr-dur: 250ms;
  --tr-t-fun: cubic-bezier(0.4, 0, 0.2, 1);
}
